<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-sm-10">
                        <h4 class="text-primary">
                            Gerenciamento das Empresas Parceiras
                        </h4>
                    </div>
                    <div class="col-12 col-sm-2">
                        <button class="btn btn-primary btn-new btn-block">
                           Novo registro
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="table-cliente" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Código</th>
                                <th class="text-center">Nome Empresa</th>
                                <th class="text-center">Img Empresa</th>
                                <th class="text-center">Link Empresa</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 border-top">
                        <p class="text-center">
                            EmpreTec todos os direitos reservados <br> Desenvolvido por: RafaelFassa
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-cliente" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title">Title</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-cliente" action="" method="post">
                    <div class="form-group">
                        <label>Nome Empresa</label>
                        <input id="nome_empresa" class="form-control" type="text" name="nome_empresa">
                    </div>
                    <div class="form-group">
                        <label>link img empresa</label>
                        <input id="img_empresa" class="form-control" type="text" name="img_empresa">
                    </div>
                    <div class="form-group">
                        <label>link site empresa</label>
                        <input id="link_empresa" class="form-control" type="text" name="link_empresa">
                    </div>
                    <input type="hidden" name="codigo" id="codigo">
                </form>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-end">
                    <div class="col-6 co-sm-2">
                        <button data-dismiss="modal" class="btn btn-secondary">Fechar</button>
                    </div>
                    <div class="col-6 co-sm-2">
                        <button data-dismiss="modal" class="btn btn-info btn-save">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="frontend/controllers/ClienteController.js"></script>